Repository sigopt/sigopt-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, pylint

eslint:
  name: eslint
  entry: npx eslint
  args:
  - --fix
  description: An AST-based pattern checker for JavaScript.
  language: system

pylint:
  name: pylint
  entry: env PYTHONPATH=./test pylint
  language: system
  args:
  - -rn
  - -sn

pre-commit ci fix
  .circleci/config.yml
Due: none

remove pp
  .circleci/config.yml
  pp
  tools/set_python_path.sh
Due: none

prettierrc and ignore
  .prettierignore
  .prettierrc.yaml
Due: none

run prettier
  src/js/sigopt_config/__tests__/broker.js
  src/js/sigopt_config/broker.js
  src/js/sigopt_config/env.js
  src/js/sigopt_config/object.js
  src/js/sigopt_config/vault.js
Due: eslint

no jsx
  .eslintrc.json
Due: none

run prettier after eslint
  .pre-commit-config.yaml
Due: none

rm remaining tools
  tools/check_copyright_and_license_disclaimers.py
Due: pylint

junit results
  .circleci/config.yml
  pytest.ini
Due: none

remove split_name
  src/python/sigopt_config/broker.py
Due: pylint

remove pointless statement disable
  test/python/sigopt_config/test_broker.py
Due: pylint

Pre-commit (#11)
  .circleci/config.yml
  .eslintignore
  .eslintrc.json
  .gitignore
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc.yaml
  .pylintrc
  README.md
  SECURITY.md
  package-lock.json
  package.json
  pp
  pyproject.toml
  requirements-dev.txt
  setup.cfg
  src/js/sigopt_config/constants.js
  src/js/sigopt_config/exceptions.js
  src/js/sigopt_config/object.js
  src/js/sigopt_config/vault.js
  src/python/sigopt_config/source.py
  src/python/sigopt_config/vault_secrets/client.py
  src/python/sigopt_config/vault_secrets/login.py
  tools/check_copyright_and_license_disclaimers.py
  tools/set_python_path.sh
Due: eslint, pylint

disable console
  test/js_config_loader.js
Due: eslint

fix scope
  src/js/sigopt_config/broker.js
Due: eslint

types pyyaml
  .pre-commit-config.yaml
  src/python/sigopt_config/broker.py
  test/python/sigopt_config/test_broker.py
Due: pylint

need preset-env for prettier
  .pre-commit-config.yaml
Due: none

add types
  .pre-commit-config.yaml
  setup.cfg
  src/python/sigopt_config/broker.py
  src/python/sigopt_config/py.typed
Due: pylint

change version
  setup.cfg
Due: none

fix install_requires
  setup.cfg
Due: none

update package.json for distribution
  package.json
Due: none

more packaging
  package.json
Due: none

export config broker
  package.json
  src/js/sigopt_config/broker.js
  src/js/sigopt_config/index.js
Due: eslint

okay sigopt-config
  package.json
Due: none

just check directly
  src/js/sigopt_config/broker.js
Due: eslint

proper imports
  src/js/sigopt_config/__tests__/broker.js
  test/js_config_loader.js
Due: eslint

tests pass
  src/js/sigopt_config/__tests__/broker.js
Due: eslint

config var rename
  src/js/sigopt_config/broker.js
  src/python/sigopt_config/broker.py
Due: eslint, pylint

config var rename (#15)
  src/js/sigopt_config/broker.js
  src/python/sigopt_config/broker.py
Due: eslint, pylint

remove dev suffix
  setup.cfg
Due: none

eslint and pylint steps ci
  .circleci/config.yml
Due: none

no explicit pre-commit pylint
  .circleci/config.yml
Due: none

Fix pre-commit (#16)
  .circleci/config.yml
  .pre-commit-config.yaml
Due: none

ConfigBroker implementation with jsonmergepatch and jamespath (#9)
  .circleci/config.yml
  .pre-commit-config.yaml
  package-lock.json
  package.json
  pytest.ini
  requirements.txt
  setup.cfg
  src/js/sigopt_config/__mocks__/got.js
  src/js/sigopt_config/__tests__/broker.js
  src/js/sigopt_config/broker.js
  src/js/sigopt_config/constants.js
  src/js/sigopt_config/env.js
  src/js/sigopt_config/exceptions.js
  src/js/sigopt_config/index.js
  src/js/sigopt_config/object.js
  src/js/sigopt_config/utils.js
  src/js/sigopt_config/vault.js
  src/python/sigopt_config/broker.py
  src/python/sigopt_config/py.typed
  src/python/sigopt_config/source.py
  src/python/sigopt_config/utils.py
  src/python/sigopt_config/vault_secrets/__init__.py
  src/python/sigopt_config/vault_secrets/client.py
  src/python/sigopt_config/vault_secrets/login.py
  src/python/sigopt_config/vault_secrets/source.py
  test/cases/01_single_config/config/00_only_config.yaml
  test/cases/01_single_config/test.yaml
  test/cases/02_basic_extend/config/00_address.yaml
  test/cases/02_basic_extend/config/01_db.yaml
  test/cases/02_basic_extend/test.yaml
  test/cases/03_nested_extend/config/00_static_dir.yaml
  test/cases/03_nested_extend/config/01_static_cache_age.yaml
  test/cases/03_nested_extend/test.yaml
  test/cases/04_null_delete/config/00_top.yaml
  test/cases/04_null_delete/config/01_middle.yaml
  test/cases/04_null_delete/config/02_bottom.yaml
  test/cases/04_null_delete/test.yaml
  test/config_test.py
  test/js_config_loader.js
  test/python/sigopt_config/test_broker.py
Due: eslint, pylint

tests for gh actions
  .github/workflows/tests.yml
Due: none

security checks
  .github/workflows/security.yml
Due: none

pre-commit checks
  .github/workflows/pre-commit.yml
Due: none

pylint
  .github/workflows/pre-commit.yml
Due: none

remove circleci config
  .circleci/config.yml
Due: none

Github actions (#19)
  .circleci/config.yml
  .github/workflows/pre-commit.yml
  .github/workflows/security.yml
  .github/workflows/tests.yml
Due: none

vault err path
  src/python/sigopt_config/vault_secrets/client.py
Due: pylint

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$
  pylint: any of: \.py$
